/* main.css */

/* Reset default margin and padding */
* {
	margin: 0;
	padding: 0;
  }
  
  /* Set box-sizing to border-box for all elements */
  html {
	box-sizing: border-box;
  }
  *, *::before, *::after {
	box-sizing: inherit;
  }
  header {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  .logo{
	float: left;
	height: 55px;
	width: 60px;

  }
  /* Set default font and font size */
  body {
	font-family: Arial, sans-serif;
	font-size: 16px;
  }

  /* Navigation bar */
  nav {
	float: left;
	width: 68;
	height: 100%;
	background-color: #333;
	color: #fff;
	position: relative;
	overflow-y: auto;
  }

  
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  nav ul li {
	padding: 10px;
  }

  nav ul li a {
	color: #fff;
	text-decoration: none;
  }
  
  nav ul li a:hover {
	background-color: #555;
  }
  
  /* Main content */
  main {
	float: left;
	width: 60%;
	padding: 20px;
  }
  
  /* Aside */
  aside {
	float: right;
	width: 20%;
	background-color: #ddd;
	padding: 20px;
  }
  
  /* Clear floats */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  /* Responsive design */
  @media only screen and (max-width: 768px) {
	/* Change the navigation bar to a full-width, vertical navigation */
	nav {
	  float: none;
	  width: 100%;
	  height: auto;
	  position: relative;
	}
  
	nav ul {
	  display: flex;
	  flex-direction: column;
	}
  
	nav ul li {
	  text-align: center;
	  padding: 10px 0;
	}
  
	/* Make the main content and aside stack on top of each other */
	main, aside {
	  float: none;
	  width: 100%;
	  padding: 10px;
	}
  }

  /*
  to make wrap
main {
		display: flex;
		flex-wrap: wrap;
	}

	 Update the CSS for the nav and aside elements 
	nav, aside {
		flex: 1 0 20%;
		margin: 0 20px;
	}

	/* Remove the margin from the main element 
	main {
		margin: 0;
	}
  */
  