/* Responsive styles */
@media screen and (max-width: 1024px) {
	main {
		margin: 20px 10px;
	}

	aside {
		margin: 20px 10px;
	}
}

@media screen and (max-width: 768px) {
	main {
		padding: 10px;
	}

	section {
		padding: 10px;
	}

	aside {
		padding: 10px;
	}

	aside ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 10px;
	}

	aside li {
		width: 48%;
	}
}
